*{
  margin: 0;
  padding: 0;
}
.container{
  /* background: linear-gradient(to right bottom, #e1b382, #c89666); */
  width: 100% !important;
  min-height: 100vh !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.app-wrapper{
  /* background-color: #1B4F72 !important; */
  min-width: 550px !important;
  min-height: 530px !important;
  padding: 30px !important;
  box-sizing: border-box !important;
  border-radius: 10px !important;
  margin: 10px 0 !important;
}


.header-title{
  color: #000 !important;
  text-align: center !important;
  margin: 30px 0 !important;
  font-size: 28px !important;
}
.filter{
  margin-left: 10px !important;
}
/* .task-input{
  outline: none !important;
  width: 260px !important;
  padding: 15px !important;
  font-size: 16px !important;
  color: #ccc !important;
  background-color: transparent !important;
  border-radius: 10px !important;
} */
.button-add{
  width: 70px  !important;
  padding: 10px 10px !important;
  margin-left: 10px !important;
  font-size: 16px !important;
  border-radius: 10px !important;
  border: 0 !important;
  color: #000 !important;
  background-color: #74928c !important;
  cursor: pointer !important;
}
.list-item{
  display: flex;
  margin: 20px 0;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  padding: 10px;
  max-height: 30px;
}
.button-complete,
.button-delete,
.button-edit{
  border: none !important;
  outline: none !important;
  cursor: pointer !important;
  background-color: transparent !important;
  font-size: 28px !important;
  border-radius: 50% !important;
}
.button-complete{
  color: #ff6c6c !important;
  /* margin-right: 10px !important; */
}
.button-edit{
  color: #e2d029 !important;
  /* margin-right: 10px !important; */
}
.button-delete{
  color: lightseagreen !important;
}
.complete{
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: #ff6c6c;
  opacity: 0.6;
}
.list{
  width: 220px;
  background-color: transparent;
  border: none;
  color: #ccc;
  font-size: 16px;
  padding-left: 10px;
  margin-right: 15px;
}
input:focus,
button:focus{
  outline: none;
}
.todos-container {
  display: flex;
  flex-direction: column;
}
.todos-container > li.complete {
  order: 1;
}